.hero-box--primary {
    background: rgb(2, 0, 36) linear-gradient(to bottom, #101040, #1e2465, #2a3b8e, #3153b9, #326de6);
    color: #fff;
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .hero__img {
        display: none;
    }

    .hero__title, .hero__text {
        padding: 20px;
    }
}

.card {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
}

.uberflip .uf-tile-wrapper {
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
}

.uberflip.uf-tile-large .uf-tile-wrapper .uf-tile {
    border-radius: 8px;
    max-height: 400px;
}

.content ul li.uf-item-tile:before {
    list-style-type: none;
    content: "";
}

.uf-tile-content-label-text::before {
    display: none;
}

.form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .form input[type="text"] {
        max-width: 100%;
    }
}

.form input[type="submit"] {
    background-color: var(--link-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form input[type="submit"]:hover {
    background-color: var(--link-color-hover);
}

.form p em {
    font-size: 12px;
    color: var(--text-color);
}

.onboard-form__field--checkbox label {
    max-width: 500px;
    color: var(--text-color);
}

.onboard-form__field--checkbox {
    display: flex;
    align-items: center;
}

/*Custom card grid*/
.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
    background: var(--card-bg);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 8px;
    min-width: 250px;
    font-weight: bold;
    border: 1px solid transparent;
    background-image:
            linear-gradient(var(--card-bg), var(--card-bg)),
            linear-gradient(to right, #2618fa, #00e5ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0px 4px 4px 0px rgba(36, 213, 242, 0.1), 0px 4px 34px 0px rgba(66, 163, 175, 0.1);
}

.card-box:hover {
    box-shadow: 0px 6px 12px rgba(36, 213, 242, 0.3), 0px 8px 40px rgba(66, 163, 175, 0.2);
    transform: translateY(-2px);
    background-image:
            linear-gradient(var(--card-bg), var(--card-bg)),
            linear-gradient(to right, #00e5ff, #2618fa);
}

.card-box .title {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 16px;
}

.card-box .description {
    display: block;
    width: 100%;
    margin-top: 8px;
    font-weight: normal;
    clear: both;
    white-space: normal;
    max-width: 200px;
    line-height: 20px;
    font-size: 15px;
    color: var(--text-muted);
}

.content .content-body img.btn-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 14px;
}

.light-mode {
    display: flex;
}

.dark-mode {
    display: none;
}

html.dark .light-mode {
    display: none;
}

html.dark .dark-mode {
    display: flex;
}

.mark {
    font-weight: bolder;
    color: rgba(30, 32, 49);
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent linear-gradient(
            to right,
            rgba(255, 225, 0, 0.3),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.4)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

aside.footnote {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

aside.footnote .label {
    white-space: nowrap;
}

aside.footnote p {
    margin: 0;
}
