.hero-box--primary {
    background: rgb(2, 0, 36) linear-gradient(to bottom, #101040, #1e2465, #2a3b8e, #3153b9, #326de6);
    color: #fff;
    padding: 2rem 0;
}

.hero__button {
    color: white;
    border: 1px solid white;

    .button:hover {
        color: white;
    }
}

.card {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
}

.uberflip.uf-tile-large .uf-tile-wrapper .uf-tile {
    border-radius: 8px;
}

.content ul li.uf-item-tile:before {
    list-style-type: none;
    content: "";
}


/* Style the input fields */
.form input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the submit button */
.form input[type="submit"] {
    background-color: #326de6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Add hover effect to the submit button */
.form input[type="submit"]:hover {
    background-color: #274bb5;
}

/* Style the privacy policy text */
.form p em {
    font-size: 12px;
    color: #666;
}