.hero-box--primary {
    background: rgb(2, 0, 36) linear-gradient(to bottom, #101040, #1e2465, #2a3b8e, #3153b9, #326de6);
    color: #fff;
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .hero__img {
        display: none;
    }

    .hero__title, .hero__text {
        padding: 20px;
    }
}

.card {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
}

.uberflip .uf-tile-wrapper {
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
}

.uberflip.uf-tile-large .uf-tile-wrapper .uf-tile {
    border-radius: 8px;
    max-height: 400px;
}

.content ul li.uf-item-tile:before {
    list-style-type: none;
    content: "";
}

.uf-tile-content-label-text::before {
    display: none;
}

.form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .form input[type="text"] {
        max-width: 100%;
    }
}

.form input[type="submit"] {
    background-color: #326de6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form input[type="submit"]:hover {
    background-color: #274bb5;
}

.form p em {
    font-size: 12px;
    color: #666;
}

.onboard-form__field--checkbox label {
    max-width: 500px;
}

.onboard-form__field--checkbox {
    display: flex;
    align-items: center;
}

/*Custom card grid*/
.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
    background: var(--card-bg);
    color: var(--text-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    text-decoration: none;
    border-radius: 8px;
    min-width: 200px;
    font-weight: bold;
    border: 1px solid var(--card-bg);
    transition: background 0.3s;
}

.card-box:hover {
    border: 1px solid var(--text-color) !important;
    font-weight: bold;
}

.card-box .title {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 18px;
}

.card-box .description {
    display: block;
    width: 100%;
    margin-top: 16px;
    font-weight: normal;
    clear: both;
    white-space: normal;
    max-width: 200px;
    line-height: 28px;
}

.content .content-body img.btn-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 8px;
}

.light-mode {
    display: flex;
}

.dark-mode {
    display: none;
}

html.dark .light-mode {
    display: none;
}

html.dark .dark-mode {
    display: flex;
}

.mark {
    font-weight: bolder;
    color: rgba(30, 32, 49);
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent linear-gradient(
            to right,
            rgba(255, 225, 0, 0.3),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.4)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
